<mat-card class="main-card mat-elevation-z4">
    <mat-card-header>
        <mat-card-title class="main-title">Privacy Policy</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="section">
            <h3>Privacy Policy for Youtube video and youtube thumbnail Downloader</h3>
            <p>"Welcome to Y7mate.com - your hub for hassle-free YouTube video and thumbnail downloads! Ensuring your privacy while enjoying our services is our top priority. This Privacy Policy unveils how we handle and safeguard the information gathered during your visit to <a href='https://y7mate.com/' target='_blank'>https://y7mate.com</a>. Curious about our Privacy Policy or need more details? Don't hesitate to reach out to us! Remember, this Privacy Policy is crafted specifically for your online experience here on Y7mate.com. It covers the information you share or we collect while you explore our website. Please note that this policy does not extend to information gathered offline or via other platforms.</p>
        </div>
    </mat-card-content>
    <mat-card-content>
        <div class="section">
            <h3>Google DoubleClick DART Cookie
            </h3>
            <p >Google, as a third-party provider, uses cookies, including DART cookies, to display ads to our visitors based on their visits to www.website.com and other websites. If you prefer not to use DART cookies, you can manage your preferences by visiting Google's ad and content network Privacy Policy at the following URL: <a href='https://policies.google.com/technologies/ads' target='_blank'>https://policies.google.com/technologies/ads</a></p>
        </div>
    </mat-card-content>
    <mat-card-content>
        <div class="section">
            <h3>Advertising Partners Privacy Policies</h3>
            <p>If you're seeking the Privacy Policy details of the advertising partners associated with Youtube thumbnail save, refer to the following list:</p>
        
            <p>Third-party ad servers or ad networks employ technologies such as cookies, JavaScript, or Web Beacons within their advertisements and links displayed on Youtube thumbnail save. These are directly transmitted to users' browsers. When this happens, your IP address is automatically received. These technologies are utilized to assess the effectiveness of their advertising endeavors or to tailor the advertising content you encounter on the websites you visit.</p>
            
            <p>It's important to note that Youtube thumbnail save does not have access to or authority over the cookies utilized by third-party advertisers.</p>
        </div>
    </mat-card-content>    
    <mat-card-content>
        <div class="section">
            <h3>Third Party Privacy Policies
            </h3>
            <p>Our Privacy Policy at Youtube Video and YouTube thumbnail save is specific to our platform and does not extend to other advertisers or external websites. We recommend referring to the individual Privacy Policies of these third-party ad servers for comprehensive insights into their practices and opt-out guidelines. You have the option to manage cookies through your browser settings. For further details on cookie management specific to various web browsers, refer to the respective browsers' websites.</p>
        </div>
    </mat-card-content>
    <mat-card-content>
        <div class="section">
            <h3>GDPR Data Protection Rights
            </h3>
            <ul>
            <p>We believe in ensuring that you're fully informed about your data protection rights. As a user, you're entitled to a spectrum of rights:
              <li>  Right to Access: You can request copies of your personal data. A small fee may apply for this service.</li>
              <li>  Right to Rectification: If you believe any information we hold is inaccurate or incomplete, you can request corrections.</li>
                <li> Right to Erasure: Under specific conditions, you can request the deletion of your personal data.</li>
                    <li> Right to Restrict Processing: You can request limitations on how we process your personal data, under certain conditions.</li>
                        <li>Right to Object Processing: You have the right to object to the processing of your personal data, under certain conditions.</li>
                            <li>Right to Data Portability: You can request that we transfer the data we've collected to another organization or directly to you, under certain conditions.</li>
                            Upon your request, we have a one-month timeframe to respond. To exercise any of these rights or for further details, please get in touch with us. Your privacy and control over your data matter to us, and we're here to assist you.</p></ul>
               
        </div>
    </mat-card-content>
    <mat-card-content>
        <div class="section">
            <h3>Children's Information
            </h3>
            <p>Safeguarding children online is a key priority for us. We urge parents and guardians to actively participate in and supervise their children's online activities. At Youtube Video and Youtube thumbnail save, we do not intentionally gather any Personal Identifiable Information from children under the age of 13. Should you suspect that your child has shared such information on our platform, please reach out to us without delay. We are committed to swiftly removing any such data from our records.</p>
        </div>
    </mat-card-content>
</mat-card>