

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px; 
  }
  
  .down-head{
    margin-top: 30px;
  }
  .input-container{
    margin-top: 25px;
  }
  .toggle-group-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

mat-button-toggle-group {
    perspective: 900px;
}

mat-button-toggle {
    color: #333;
    font-weight: bold;
    padding: 5px 10px;
    text-transform: uppercase;
    position: relative;
    transition: transform 0.3s ease, color 0.3s ease;
    transform-style: preserve-3d;
    background-color: #f8f9fa;
    border: none;
    border-radius: 5px;
}
.capsule-text{
  font-size: 17px;
}
mat-button-toggle::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    transform: rotateX(0) translateY(0) scale(1);
    transform-origin: bottom;
}

mat-button-toggle:hover::after {
    transform: rotateX(-10deg) translateY(5px) scale(1.1);
}

mat-button-toggle:active::after {
    transform: rotateX(0) translateY(0) scale(1);
    transition: transform 0.1s ease;
}

mat-button-toggle:hover {
    color: #fff;
    background-color: #007bff;
}
.mat-button-toggle-appearance-standard.mat-button-toggle-checked{
  background-color: lightgray;
  color: black;
}
.seohide{
  font-size: 12px;
}

  
  .mat-card {
    max-width: 800px;
    margin: auto;
    text-align: center;
    background-color: #f8f9fa;
    border-radius: 10px;
  }
  .form {
    display: flex;
    flex-direction: column;
  }
  .form-field {
    width: 100%;
    margin-right: 20px;
  }
  
  .error-message {
    color: #f44336; /* Red color */
    font-size: 12px;
    margin-top: 4px;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
  }
  
  .error-message.ng-tns-c89-0 {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }
  
  .get-thumbnail {
    min-width: 120px;
  }
  
  input {
    width: 90%;
    padding: 8px;
    margin: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
  }
  
  /* Button styling */
  button {
    margin-top: 10px;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Thumbnail container styling */
  .thumbnail-container {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
  }
  
  /* Thumbnail image styling */
  .thumbnail-container img {
    margin-top: 15px;
    width: 100%;
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
  }
  
  /* Thumbnail buttons styling */
  .thumbnail-buttons {
    margin-top: 10px;
    display: flex;
    align-items: stretch;
    align-content: stretch;
    flex-wrap: wrap;
    flex-direction: row;
    word-wrap: break-word;
  }
  .thumbnail-button {
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: stretch;
    align-content: stretch;
    flex-direction: column;
  }
  .downloadbutton{
    height: 60px;
    width: 47%;
  }
  .main-title-app{
   font-size: 20px;
   margin: 25px;
   word-wrap: break-word;
  }
  
  .thumbnail-buttons button {
    margin-top: 5px;
    font-size: 14px;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .thumbnail-buttons button:hover {
    background-color: #007bff;
    color: #fff;
  }
  

  .getThumbnail:hover{
  background-color: #007bff;
  color: white;
  }
  /* Add these styles to your existing CSS */

/* Thumbnail container styling */
.thumbnail-container {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

/* Thumbnail image styling */
.thumbnail-container img {
  width: 100%;
  max-width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

/* Thumbnail buttons styling */


.thumbnail-buttons button:hover {
  background-color: #007bff;
  color: #fff;
}
.duration{
    font-size: 20px;
}

.step-icon{
    font-size: 150px;
    height: 150px;
    width: 150px;
    color: red;
}
.arrow-icon{
    font-size: 150px;
    height: 150px;
    width: 150px;
}

  /* privacy css below*/

.main-card {
    margin-top: 20px;
    padding: 20px;
    width: 100%;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }
  
  .main-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  mat-card-header{
    justify-content: center;
  }
  
  .section {
  margin-top: 30px;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px;
  background-color: #F8F9FA;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

/* Adjustments for headings and paragraphs within the card */
.section h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.section p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}

  
  h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .inner-icons {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Adjust spacing between groups */
  }
  
  .icon-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Adjust spacing between elements */
  }
  
  .video-title{
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  h3 {
    margin: 0;
    text-align: center; /* Center-align the heading */
  }
  
  @media (max-width: 768px) {
    /* Add responsive styles if needed */
  }
  

  /*mat-toolbar*/


  .content-section {
    padding: 40px 0;
  }
  
  h2 {
    font-size: 2.2rem;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 1.1rem;
    line-height: 1.6;
  }
  
  .how-to-download {
    padding: 10px 0;
  }

  .step {
    background-color: #f5f5f5;
    /* padding: 10px; */
    border-radius: 5px;
  }
  .download-button{
    background-color: rebeccapurple;
    color: white !important;
  }




  
  
  