<mat-card class="main-card mat-elevation-z4">
    <h1>Terms and Conditions</h1>
    <mat-card-content>
      <div class="section">
        <h3>1. Acceptance of Terms</h3>
        <p>
            By accessing or using the Youtube Video Downloader service, you agree to comply with and be bound by these terms and conditions.
        </p>
      </div>
      </mat-card-content>
      <mat-card-content>
      <div class="section">
        <h3>2. Description of Service</h3>
        <p>
            Youtube Video Downloader allows users to download YouTube videos for personal use only. The service is provided 'as is,' and we do not guarantee uninterrupted, timely, secure, or error-free service.
        </p>
      </div>
      </mat-card-content>

      <mat-card-content>
      <div class="section">
        <h3>3. User Responsibilities</h3>
        <p>
            Users of Youtube Video Downloader agree not to misuse the service or engage in any activity that interferes with its normal functioning. The downloaded content is for personal use and should not be redistributed or used for commercial purposes without proper authorization.
        </p>
      </div>
      </mat-card-content>
      <mat-card-content>
      <div class="section">
        <h3>4. Intellectual Property</h3>
        <p>
            All content available through the Youtube Video Downloader service is the property of their respective owners (YouTube, video creators, etc.). Users are responsible for complying with copyright laws and respecting intellectual property rights.
        </p>
      </div>
      </mat-card-content>
      <mat-card-content>
      <div class="section">
        <h3>5. Limitation of Liability</h3>
        <p>
            Youtube Video Downloader shall not be liable for any direct, indirect, incidental, consequential, or exemplary damages arising from the use or inability to use the service.
        </p>
      </div>
      </mat-card-content>
      <mat-card-content>
      <div class="section">
        <h3>6. Modifications to Terms</h3>
        <p>
          Youtube Video Downloader reserves the right to modify or replace these terms at any time. It is the user's responsibility to review these terms periodically for changes.
        </p>
      
    
    <p class="disclaimer">
      <strong>Disclaimer:</strong>This is a generic template and not intended as legal advice. Consider consulting a legal professional for creating comprehensive and tailored terms and conditions for your application.
    </p>
    </div>
    </mat-card-content>
    <mat-card-content>
    <div class="section">
      <h3>About the Content Writer</h3>
      <p>
        Our Terms and Conditions were crafted with expertise by our experienced content writers. They bring years of experience in legal writing, ensuring that our users have a clear and concise understanding of our service's guidelines.
      </p>
    </div>
    </mat-card-content>
</mat-card>