
<div style="height: auto;" class="tool">
  <mat-toolbar class="toolbar">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <div class="download-icon">
      <mat-icon>cloud_download</mat-icon>
      <span class="header-title"><a routerLink="/" >Y7Mate.com</a></span></div>
      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md class="nav-links">
        <a routerLink="/" class="privacy-policy">YouTube Downloader</a>
        <a routerLink="/post" class="privacy-policy">Posts</a>
        <a routerLink="/privacy" class="privacy-policy">Privacy Policy</a>
        <a routerLink="/terms" class="privacy-policy">Terms & Conditions</a>
        <a routerLink="/about" class="privacy-policy">About</a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a routerLink="/" mat-list-item class="privacy-policy">Youtube Downloader</a>
        <a routerLink="/post" mat-list-item class="privacy-policy">Posts</a>
        <a routerLink="/privacy" mat-list-item class="privacy-policy">Privacy Policy</a>
        <a routerLink="/terms" mat-list-item class="privacy-policy">Terms & Conditions</a>
        <a routerLink="/about" mat-list-item class="privacy-policy">About</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill><router-outlet></router-outlet></mat-sidenav-content>
  </mat-sidenav-container>
</div>
